@media (max-width: 739px) {
    .music-card {
        width: 95%;
        -webkit-tap-highlight-color: transparent;
    }

    .music-card__header .tooltip {
        display: none;
    }
    .progress-bar__value::after {
        visibility: visible;
        opacity: 1;
        padding: 2px;
    }
    .volume-change__value::after {
        visibility: visible;
        opacity: 1;
        padding: 2px;
    }
    .playlist {
        width: 95%;
        -webkit-tap-highlight-color: transparent;
    }
}
